/* ta02.css */

body{
    background-color:#8fb4ef; 
}

.center{
    margin: auto;
    width: 50%;
    padding:12px;
}

.img{
    width:450px;
    height: 250px;
    float: left;
}

.bottom{
    position:absolute;
   bottom:0;
   width:100%;
   height:60px;
}

hr{
    color:black;
    width:96%;
}

p{
    float:left;
    padding:10px;
    font-size: 30px;
    border: 20px solid #001b47;
    border-bottom-color:#8fb4ef;
    border-top-color:#8fb4ef;
}

.button-group button{
    background-color: cornflowerblue; 
    border: 1px solid blue;
    color: white; 
    padding:10px;
    cursor: pointer;
    width: 49%;
}

.button-group:after {
    content: "";
    clear: both;
    display: table;
}

.button-group button:not(:last-child) {
    border-right: none;
}

.button-group button:hover {
    background-color: darkblue;
}

